.logo_validate {
    
        background-image:url(/img/validate.png);
    	background-repeat: no-repeat;
	    background-position: center top;
        width: auto;
        height: 10vh;
        
}

p {
    padding: 20px;
}

.logo_fail {
 
  width: auto;
  height: 20vh;
  background-size: cover; 
}


