
@import '_mixins';

.user-profile-integration {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  padding: 20px;

  .user-profile-cards {
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
  }
  
  .user-profile-page {
    width: 100%; 
    margin-top: 20px; 
  }
  
  @include respond-to-medium {
   
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0; 
    
    .user-profile-page {
      margin-left: 20px; 
    }
  }
}


