@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    
    
 
  $primaryColor: #2196f3;
  $secondaryColor: #0d47a1;
  $neutralLight: #f9f9f9;
   $neutralDark: #e1e1e1;
  $errorColor: #ff0000;
  $successColor: #21ff00;
}
